body{
    background-color: #012c50;
    background-image: url('https://t3.ftcdn.net/jpg/04/17/16/68/360_F_417166838_CKnZyAVxQ7c5xkMX1b18W61CFg8ope7r.jpg');
    background-repeat: no-repeat;
    background-size: 130%;
    }